<div class="main">
  <div class="container b-container p-3" id="b-container">
    <form class="form" id="b-form" [formGroup]="forgotPasswordForm">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="form_title title text-center">Forgot Your Password ? </h2>
          <div class="alert alert-info mt-4" role="alert">
            Enter your email and instructions will be sent to you in your email address !
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>E-mail Address</label>
            <input
              class="form__input form-control"
              type="email"
              placeholder="E-mail Address"
              [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" placeholder="E-mail Address" formControlName="email" name="email"
              required
            />

            <span *ngIf="submitted || form['email'].touched || form['email'].dirty && form['email'].invalid" class="info-msg text-danger">
                <small *ngIf="form['email'].errors && form['email'].errors?.['required']">This is the required field.</small>
                <small *ngIf="form['email'].errors && form['email'].errors?.['minlength']">Should have valid characters.</small>
            </span>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-12">
          <button (click)="onClickSentLink(forgotPasswordForm.value)" [disabled]="submitted" class="btn btn-outline-primary w-100">
            {{ btnStatus }}
          </button>
        </div>
      </div>

      <div class="mb-2 row mt-4">
        <div class="col-sm-12 text-center">
          Have Login Credentials ? <a href="javascript:void(0);" (click)="onClickToLogin()" class="text-muted"><i class="fa fa-user-circle"></i> Login Here</a>
        </div>
      </div>
    </form>
  </div>
</div>
